*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contribution-graph{
    text-align: center;
    justify-content: center;
}

.contribution-graph__cell{
    display: flex;
    position: relative;
    margin: 2px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.contribution-graph__line{
    display: inline-block;
    height: 16px;
}
.module{
    padding: 3px;
    bottom: -55px;
    left: -125px;
    display: none;
    position: absolute;
    width: 250px;
    height: 50px;
    background-color: black;
    z-index: 1000;
    border-radius: 10px;
}
.pointer{
    bottom: -50px;
    left: 0px;
    position: absolute;
    background-color: black;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #000;
}

.module__title{
    font-size: 18px;
    color: #fff;
}

.module__descr{
    font-size: 15px;
    color: rgba(237, 237, 237, 1);
}